src/by/it/sergeev/jd02_07/catalog.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT Catalog (section+)>
        <!ELEMENT section (product+)>
        <!ATTLIST section
                name CDATA #REQUIRED>
        <!ELEMENT product (description)>
        <!ATTLIST product
                manufacturer CDATA #REQUIRED
                name CDATA #REQUIRED
                model CDATA #REQUIRED
                price CDATA #REQUIRED>
        <!ELEMENT description (#PCDATA)>
